# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Environment variables
.env
*.env
config.env

# Development files
*.md
LICENSE
tests
coverage
.vscode
.idea
*.test.js

# Data files
data*.csv
records*.json
*.csv
*.xlsx
test*.json

# Docker files
Dockerfile
.dockerignore

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

elharaka.dump
/scripts
/dataMigration